body {
    font-family: 'DM Sans', sans-serif;
    background-color: #131517;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1E1F25;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-top: 3%;
}

header section {
    margin: 20px auto;
    max-width: 1200px;
    margin-top: 2%;
}

header h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.search-container button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: #131517
}

.search-container input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #9BABC5;
    background-color: #131517
    
}

.search-container button {
    background-color: #1EA7FF;
    color: #f0f0f0;
    font-size:larger;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container button:hover {
    background-color: #0056b3;
}

.search-container button:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.ciudad_search {
    margin-right: 10px;
}

#ciudad-input:focus, 
#airline-input:focus, 
#iata-input:focus {
    flex: 1;
    color: #9BABC5;
    background-color: #131517;
    outline-color: #1EA7FF;
    font-size: 1rem;
    line-height: normal
}

#ciudad-input::placeholder, 
#airline-input::placeholder, 
#iata-input::placeholder {
    flex: 1;
    color: #9BABC5;
    padding-bottom: 100% ;
    background-color: #131517;
    font-size: 14px;
    font-weight: 400;
    line-height: normal
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#listaVuelo {
    list-style-type: none;
    padding: 0;
}
#listaVuelo li {
    padding: 10px;
    position: relative;
}

.detalles {
    display: none;
}
.active .detalles {
    display: flex;
}

#listaVuelo {
    width: 100%;
}

.aviso {
    width: 100%;
    margin: 6%;
    border-radius: 5%;
    background-color: #1E1F25;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.aviso h1, p {
    justify-items: center;
    color: #e0e0e0;
    font-size: 2rem;
}

.content_vuelo, .climas {
    width: 100%;
    box-sizing: border-box;
}

.vuelo_ticket {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    align-items: center;
    background-color: #1E1F25;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vuelo_ticket div {
    flex-grow: 1;
    flex-basis: 200;
    margin-top: 10px;
    text-align: center;
}

.aerolinea b,
.ciudad b,
.iata_vuelo b  {
    color: #e0e0e0;
    font-weight: bold;
    font-size: 25px;
}

.aerolinea p,
.ciudad p,
.iata_vuelo p  {
    color: #9BABC5;
    font-weight: bold;
    font-size: 20px;
}

.vuelo_ticket:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.climas {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.origen, .destino {
    flex: 1;
    
}

#informacion {
    transition: opacity 0.5s ease-in-out, max-height 1.0s ease-in-out;
}

#origen , #destino {
    background-color: #1E1F25 ;
    border-radius: 15px;
    margin-bottom: 20px;
}

.info_vuelo {
    text-align: center;
}

.info_vuelo h2 {
    color: #e0e0e0;
    padding: 1%;
}
.info_vuelo h3 {
    color: #e0e0e0;
    padding-top: 3%;
    font-weight: bold;
}

.info_ciudad {
    padding-bottom: 1%;
}

.info_ciudad p {
    color: #9BABC5;
    font-size: 20px;
    font-weight: bold;
}

.info_clima {
    color: #e0e0e0;
    padding: 5%;
}

.info_clima00 {
    padding: 5%;
    height: 90%;
}

.info_02, .info_03 {
    padding: 20px;
}

.lineaH {
    height: 100%; 
    background-color: #e0e0e0; 
    width: 30px;
}

.info_00 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.info_00 h4 {
    text-align: left;
    flex-basis: 200;
}

.info_00 p {
    flex: 1;
    text-align: right;
    flex-basis: 200;
    font-size: 20px;
}

.info_01 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 30px;
}

.lineaHorizontal {
    width: 90%; /* Ancho de la línea horizontal */
    height: 1px; /* Altura de la línea */
    background-color: #f0f0f0; /* Color de la línea */
    margin: 15px auto; /* Centrado horizontal */
}

.lineaVertical {
    height: 40px;
    width: 1px;
    background-color: #f0f0f0;
}

.temp-range {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 1.5em;
    width: 180px;
}

.temp {
    text-align: center;
    font-size: 2.0em; 
}

.info_01 .temperatura {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 30px;
}

.weather-icon {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #ffc400;
}

footer {
    background-color: #1E1F25;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

